acme==0.31.0
asn1crypto==0.24.0
attrs==17.4.0
Automat==0.6.0
blinker==1.4
certbot==0.31.0
certbot-nginx==0.31.0
certifi==2022.12.7
chardet==3.0.4
click==6.7
colorama==0.3.7
ConfigArgParse==0.11.0
configobj==5.0.6
constantly==15.1.0
mysql-connector-python==8.0.19
